@media (max-width:640px) {
    .imagePoster{
        width:280px;
        margin-top: 20px;
        
    }
    .detailDiv{
        width: 85%;
    }
    
}
@media(max-width:500px){

   .detailDiv{
    width:90%;
   }
   .imagePoster{
    width: 250px;
    margin-top: 30px;
   }
}